/* Split the screen in half */
.split {
    height: 100%;
    width: 40% !important;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    width: 60% !important;
    z-index: 1;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    width: 45rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  img {
    height: 25rem;
  }
  .wrapper{
    display: flex;
  }

  .phone1{
    position: relative; 
    float: left;
    left: 6rem;
  }

  .phone2 {
    position: relative;
    float: right;
    right: 4rem;
    top: 3.5rem;


  }
  
  .space {
    height:1rem !important;
  }

