/* Split the screen in half */
.split {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    width:70%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    width: 45rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 20rem;
    border-radius: 50%;
    position: relative;
    left: 4rem;
  }

  .space {
    height:1rem !important;
  }